@model MeetMeUp_Updated.Models.Meeting
@{
    ViewBag.Title = "ChangeImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="m-4">Change Meeting Image</h1>
    <hr />
    @using (Html.BeginForm("ChangeImage", "Meeting", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" value="@Model.MeetingID" name="meetingID" />

        <div class="heading">
            <img id="meetingImage" src=@Model.Image alt="Meeting Image" style="width:200px;height:200px" />
        </div>

        <div class="group-details">
            <input type="file" name="fileUpload1" class="form-control-file w-25" onchange="readURL(this)" required />
            <button type="submit" class="btn btn-primary btn-lg my-4">Save</button>
        </div>
    }

</div>



<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#meetingImage')
                    .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



